RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^home/?$    index.php    [NC,L]
RewriteRule    ^about/?$    about.php    [NC,L]
RewriteRule    ^services/?$    services.php    [NC,L]
RewriteRule    ^contact/?$    contact.php    [NC,L]
RewriteRule    ^portfolio/?$    portfolio.php    [NC,L]
RewriteRule    ^blog/?$    blog.php    [NC,L]
RewriteRule    ^careers/?$    careers.php    [NC,L]
RewriteRule    ^jobdetail/([A-Za-z0-9-]+)/?$    jobdetail.php?id=$1    [NC,L]